body {
background-color: #FFFFCC;
}

#map{
	height: 400px;
    width: 80%;
	}
	
.button{
	color: white;
	background-color: #f44336;
	border: 2px solid green;
	cursor: pointer;
	width: 180px;
	height: 40px;
	font-size: 18px;
	border-radius: 8px;
	text-align: center;
	}

@media only screen and (max-width: 600px) {
    body {
        background-color: #28FF98;
    }

.button{
	color: white;
	background-color: #54A7FF;
	border: 2px solid green;
	cursor: pointer;
	width: 300px;
	height: 50px;
	font-size: 25px;
	border-radius: 60%;
	display: block;
	}

}